[submodule "externals/core"]
	path = externals/core
	url = https://github.com/kaaass/ZeroTierOne.git
[submodule "externals/libzt"]
	path = externals/libzt
	url = https://github.com/xnet-admin-1/libzt.git
